name: Django CI

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]       

jobs:
  test:
    runs-on: ubuntu-latest  

    defaults:
      run:
        working-directory: StudyHub
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Set environment variables
        run: |
          echo "DJANGO_SETTINGS_MODULE=StudyHub.settings" >> $GITHUB_ENV
          echo "PYTHONPATH=${{ github.workspace }}" >> $GITHUB_ENV

      - name: Run migrations
        run: python manage.py migrate --noinput

      - name: Run tests
        run: python manage.py test


